<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="site-title">
            <h2 class="text-left text-capitalize">{{ dashboard.name }}</h2>

            <h2 class="text-right">
                <button ng-hide="dashboard.default" ng-click="set_default_dashboard_menu(dashboard.id)" ng-show="dashboard.enable_change">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Set Default
                </button>
                <button ng-click="clone_dashboad()" ng-show="dashboard.enable_change">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                    Clone
                </button>
                <button ng-click="set_enable_change()" ng-show="dashboard.enable_change">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    Lock
                </button>
                <button ng-click="set_enable_change()" ng-show="!dashboard.enable_change">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                    Unlock
                </button>
                <button ng-show="dashboard.enable_change" ui-sref="newchart">
                    <a>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add new
                    </a>
                </button>
                <span ng-show="dashboard.enable_change">
                    <button ng-confirm="Are you sure you wish to delete all chart in this dashboard?"
                            ng-click="delete()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Clear
                    </button>
                </span>
                <button ng-click="update()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Update
                </button>
            </h2>
        </div>
        <div gridster="gridsterOpts" class="dashboard-item">
            <ul>
                <li gridster-item="item" ng-repeat="(index, item) in dashboard.charts">
                    <div id="Report{{ item.chart_id }}" class="report scroll-vertical" ng-controller="ReportCtrl">
                        <ng-include src="get_template_chart(item.type)"
                                    onload="set_chart_id(item.chart_id)"></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </snap-content>
</div>
