<div class="snap-content snap-content-iframe">
    <div class="container-fluid iframe-container">
        <div class="row">
            <div class="col-md-12">
                <div gridster="gridsterOpts" class="dashboard-item">
                    <ul>
                        <li gridster-item="item" ng-repeat="(index, item) in dashboard.charts">
                            <div id="Report{{ item.chart_id }}" class="report scroll-vertical"
                                 ng-controller="ReportCtrl">
                                <ng-include src="get_template_chart(item.type)"
                                            onload="set_chart_id(item.chart_id)"></ng-include>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
