<snap-drawer>
    <div class="snap-menu">
        <div class="sidebar-header text-center">
            <img src="{{ user_data.company.assets.logotype || 'images/flat-avatar.png' }}" alt=""
                 class="sidebar-img img-circle">
            <ul class="snap-ul">
                <li ng-class="{active: checkActiveMenu('dashboard_menus')}">
                    <a class="pull-left">LIST DASHBOARD</a>
                    <a ng-click="add_dashboard_menu()" class="pull-right menu-button"><span class="glyphicon glyphicon-plus"></span></a>
                </li>
                <li ng-repeat="dashboard_menu in list_dashboard_menus" ng-class="{active: checkActiveMenu('dashboard', {id: dashboard_menu.id})}">
                    <a class="menu-link pull-left" ui-sref="dashboard({id: dashboard_menu.id})">{{dashboard_menu.name}}</a>
                    <div ng-hide="dashboard_menu.default">
                        <a class="pull-right menu-button" tooltip="Delete" ng-confirm="Are you sure you wish to delete this dashboard_menu?" ng-click="delete_dashboard_menu(dashboard_menu.id)"><span class="glyphicon glyphicon-trash"></span></a>
                        <a class="pull-right menu-button" tooltip="Set Default" ng-click="set_default_dashboard_menu(dashboard_menu.id)"><span class="glyphicon glyphicon-ok"></span></a>
                    </div>
                </li>
            </ul>
        </div>
</snap-drawer>
