<div class="chart-preview" ng-controller="FilterCtrl">
    <ng-include src="'views/chart/element_title.html'"></ng-include>
    <div class="clearfix">
        <ng-include ng-if="report.filter_position != 'bottom'" src="'views/chart/element_filter.html'"></ng-include>
        <div ng-class="{'col-lg-10 col-md-10 col-sm-8':inArray(report.filter_position,['left','right']) && report.config.filters.length>0, 'col-xs-12':report.config.filters.length==0}">
            <div class="clearfix"></div>
            <div ng-show="report.data.length" ng-app="sortApp">
                <table class="table table-group">
                    <tbody ng-repeat="group in report.data"  ng-controller="SortTableCtrl">
                    <tr class="row-name">
                        <td colspan="{{report.config.fact.length + 1}}"><label>{{group._id}}</label></td>
                    </tr>
                    <tr class="row-head">
                        <td>
                            <a ng-click="tableSort('name')">
                                Name
                                <span ng-show="!screenshot && tableSortType == 'name' && !tableSortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="!screenshot && tableSortType == 'name' && tableSortReverse"
                                      class="fa fa-caret-up"></span>
                                    <span ng-show="!screenshot && tableSortType != 'name'"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="!screenshot && tableSortType != 'name'"
                                          class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td ng-repeat="field in report.config.fact">
                            <a ng-click="tableSort(field.name + '_' + field.operator.substring(1))">
                                {{field.label}}
                                <span ng-show="!screenshot && tableSortType == '{{ field.name + '_' + field.operator.substring(1) }}' && !tableSortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="!screenshot && tableSortType == '{{ field.name + '_' + field.operator.substring(1) }}' && tableSortReverse"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="!screenshot && tableSortType != '{{ field.name + '_' + field.operator.substring(1) }}'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="!screenshot && tableSortType != '{{ field.name + '_' + field.operator.substring(1) }}'"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                    <tr class="row-data" ng-repeat="row in group.dimy| orderBy:tableSortType:tableSortReverse">
                        <td>{{row.name}}</td>
                        <td ng-repeat="field in report.config.fact">{{ row[field.name + '_' + field.operator.substring(1)] | unit:field.unit:field.unit_option }}</td>
                    </tr>
                    <tr class="row-foot">
                        <td><b>Total</b></td>
                        <td ng-repeat="field in report.config.fact">
                            <b>{{ group[field.name + '_' + field.operator.substring(1)] | unit:field.unit:field.unit_option }}</b>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--<div class="data-table" ng-repeat="group in report.data">-->
                    <!--<label>{{group._id}}</label>-->
                    <!--<table class="table table-condensed" ng-controller="SortTableCtrl">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>-->
                                <!--<a ng-click="tableSort('name')">-->
                                    <!--Name-->
                                <!--<span ng-show="!screenshot && tableSortType == 'name' && !tableSortReverse"-->
                                      <!--class="fa fa-caret-down"></span>-->
                                <!--<span ng-show="!screenshot && tableSortType == 'name' && tableSortReverse"-->
                                      <!--class="fa fa-caret-up"></span>-->
                                    <!--<span ng-show="!screenshot && tableSortType != 'name'"-->
                                          <!--class="fa fa-caret-down"></span>-->
                                    <!--<span ng-show="!screenshot && tableSortType != 'name'"-->
                                          <!--class="fa fa-caret-up"></span>-->
                                <!--</a>-->
                            <!--</th>-->
                            <!--<th ng-repeat="field in report.config.fact">-->
                                <!--<a ng-click="tableSort(field.name + '_' + field.operator.substring(1))">-->
                                    <!--{{field.label}}-->
                                    <!--<span ng-show="!screenshot && tableSortType == '{{ field.name + '_' + field.operator.substring(1) }}' && !tableSortReverse"-->
                                          <!--class="fa fa-caret-down"></span>-->
                                <!--<span ng-show="!screenshot && tableSortType == '{{ field.name + '_' + field.operator.substring(1) }}' && tableSortReverse"-->
                                      <!--class="fa fa-caret-up"></span>-->
                                <!--<span ng-show="!screenshot && tableSortType != '{{ field.name + '_' + field.operator.substring(1) }}'"-->
                                      <!--class="fa fa-caret-down"></span>-->
                                <!--<span ng-show="!screenshot && tableSortType != '{{ field.name + '_' + field.operator.substring(1) }}'"-->
                                      <!--class="fa fa-caret-up"></span>-->
                                <!--</a>-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="row in group.dimy| orderBy:tableSortType:tableSortReverse">-->
                            <!--<td>{{row.name}}</td>-->
                            <!--<td ng-repeat="field in report.config.fact">{{ row[field.name + '_' + field.operator.substring(1)] | unit:field.unit:field.unit_option }}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--<tfoot>-->
                        <!--<tr>-->
                            <!--<td><b>Total</b></td>-->
                            <!--<td ng-repeat="field in report.config.fact">-->
                                <!--<b>{{ group[field.name + '_' + field.operator.substring(1)] | unit:field.unit:field.unit_option }}</b>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tfoot>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xs-12 empty-field" ng-show="!report.data.length">
            <label ng-show="report.data.length!=0">Loading....</label>
            <label ng-show="report.data.length==0">There is no data</label>
        </div>
        <ng-include ng-if="report.filter_position == 'bottom'" src="'views/chart/element_filter.html'"></ng-include>
    </div>
    <div ng-show="screenshot" class="clearfix">
        <div class="container-fluid">
            <span class="pull-right">Report time: {{current_date | date:"MM/dd/yyyy HH:mm"}}</span>
        </div>
    </div>
</div>
