<div class="chart-preview" ng-controller="FilterCtrl">
    <ng-include src="'views/chart/element_title.html'"></ng-include>
    <div class="clearfix">
        <div ng-class="{'row':inArray(report.filter_position,['left','right'])}">
            <ng-include ng-if="report.filter_position != 'bottom'" src="'views/chart/element_filter.html'"></ng-include>
            <div ng-class="{'col-lg-9 col-md-9 col-sm-8':inArray(report.filter_position,['left','right']) && report.config.filters.length>0, 'col-xs-12':report.config.filters.length==0}">
                <div class="clearfix">
                    <div id="imageSvg" class="imagesvg"></div>
                    <highchart id="ChartHigh" config="chartConfig"></highchart>
                </div>
            </div>
            <ng-include ng-if="report.filter_position == 'bottom'" src="'views/chart/element_filter.html'"></ng-include>
        </div>
    </div>
    <div ng-show="screenshot" class="clearfix">
        <div class="container-fluid">
            <span class="pull-right">Report time: {{current_date | date:"MM/dd/yyyy HH:mm"}}</span>
        </div>
    </div>
</div>
