<div class="chart-preview" ng-controller="FilterCtrl">
    <ng-include class="clearfix" src="'views/chart/element_title.html'"></ng-include>
    <div class="clearfix">
        <div ng-class="{'row':inArray(report.filter_position,['left','right'])}">
            <ng-include class="filter-{{ report.filter_position }}" ng-if="report.filter_position != 'bottom'"
                        src="'views/chart/element_filter.html'"></ng-include>
            <div ng-class="{'col-lg-9 col-md-9 col-sm-8':inArray(report.filter_position,['left','right']) && report.config.filters.length>0, 'col-xs-12':report.config.filters.length==0}">
                <div class="data-table" ng-show="report.data.length" ng-app="sortApp">
                    <table class="table table-condensed" ng-controller="SortTableCtrl">
                        <thead>
                        <tr>
                            <th ng-repeat="field in report.config.fields" label="{{field.label}}" label_name="{{field.name}}">
                                <a ng-click="tableSort(field.name)">
                                    {{field.label}}
                                    <span ng-show="!screenshot && tableSortType == '{{field.name}}' && !tableSortReverse"
                                          class="fa fa-caret-down"></span>
                                <span ng-show="!screenshot && tableSortType == '{{field.name}}' && tableSortReverse"
                                      class="fa fa-caret-up"></span>

                                    <span ng-show="!screenshot && tableSortType != '{{field.name}}'"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="!screenshot && tableSortType != '{{field.name}}'"
                                          class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in report.data | orderBy:tableSortType:tableSortReverse">
                            <td ng-repeat="field in report.config.fields">{{row[field.name] | unit:field.unit:field.unit_option}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix" ng-show="report.config.fields.length">
                     <span class="pager-text pull-left">
                        Page {{current_page}} of {{ report.total / report.limit | ceil }}
                         - showing {{ report.data.length }} of {{report.total}}
                         records
                    </span>
                    <span ng-hide="screenshot" class="pull-right table-pagger">
                        <a class="paging glyphicon glyphicon-chevron-left"
                           ng-class="{'disable': current_page == 1}" ng-click="prev()"></a>
                        <a class="paging glyphicon glyphicon-chevron-right"
                           ng-class="{'disable': current_page == (report.total / report.limit | ceil) }"
                           ng-click="next()"></a>
                    </span>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="empty-field" ng-show="!report.data.length">
                        <label ng-show="report.data.length!=0">Please wait...</label>
                        <label ng-show="report.data.length==0">No data</label>
                    </div>
                    <div class="empty-field" ng-show="report.config.fields.length==0">
                        <label>There is no field selected</label>
                    </div>
                </div>
            </div>
            <ng-include class="filter-{{ report.filter_position }}" ng-if="report.filter_position == 'bottom'"
                        src="'views/chart/element_filter.html'"></ng-include>
        </div>
    </div>

    <div ng-show="screenshot" class="clearfix">
        <span class="pull-right">Report time: {{current_date | date:"MM/dd/yyyy HH:mm"}}</span>
    </div>
</div>
