<div class="clearfix chart-name">
    <h3><span id="report_dash_board_name" class="hidden">{{dashboard.name}}</span><span id="report_chart_name">{{report.name}}</span></h3>
    <span ng-show="dashboard.enable_change && !screenshot">
         <a ng-confirm="Are you sure you wish to delete this chart?" ng-click="deleteChart(chart_id)" class="delete">
             <span class="glyphicon glyphicon-trash" aria-hidden="true" tooltip="Delete"></span>
         </a>
    </span>

    <a ng-show="dashboard.enable_change && !screenshot" class="edit" ui-sref="editchart({id:chart_id})">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" tooltip="Edit"></span>
    </a>

    <a ng-hide="screenshot || is_preview" class="view" ui-sref="viewchart({id:chart_id, type: report.type})">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" tooltip="View Detail"></span>
    </a>

    <a ng-show="!screenshot && report.type == 'table'" class="view" ng-click="printCSV()">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" tooltip="Save CSV data"></span>
    </a>

    <a ng-show="!screenshot && report.type != 'table'" class="view" ng-csv="getDataReport()"
       filename="{{report.name}}.csv" csv-header="getHeaderReport()">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" tooltip="Save CSV data"></span>
    </a>

    <a ng-hide="screenshot" class="view" ng-click="printImage(chart_id,'png')">
        <span class="glyphicon glyphicon-picture" aria-hidden="true" tooltip="Save as image"></span>
    </a>

    <a ng-hide="screenshot || report.type == 'table' || report.type == 'group'" class="view" ng-click="printImage(chart_id,'pdf')">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true" tooltip="Save as pdf"></span>
    </a>

    <a ng-show="!screenshot && (report.type == 'table' || report.type == 'group')" class="view" ng-click="printPDF()">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true" tooltip="Save data as pdf"></span>
    </a>

    <a ng-hide="screenshot" class="view" ng-click="reload(chart_id)">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true" tooltip="Reload"></span>
    </a>
</div>
