<div class="filter-wrapper {{ report.filter_position }}"
     ng-class="{'col-lg-3 col-md-3 col-sm-4':report.filter_position=='left' , 'col-lg-3 col-md-3 col-sm-3 pull-right':report.filter_position=='right'}"
     ng-show="report.config.filters.length">
    <div class="form-group item-filter"
         ng-repeat="filter in report.config.filters">
        <label>{{filter.label}}:<span class="filter-text" ng-show="screenshot" ng-if="filter.type!='date' && filter.type!='datetime'">{{filter.value}}</span><span class="filter-text" ng-show="screenshot" ng-if="filter.type=='date'">{{filter.value ? (filter.value | date: "MM/dd/yyyy") : 'All time' }}</span><span class="filter-text" ng-show="screenshot" ng-if="filter.type=='datetime'">{{filter.value ? (filter.value | date:"MM/dd/yyyy HH:mm"):'All time'}}</span></label>
        <select ng-hide="screenshot" ng-if="inArray(filter.type,['int','float','string'])" tabindex="1"
                data-ng-init="filter.value = filter.options[0]"
                ng-change="change_filter()"
                ng-options="option as option for option in filter.options"
                ng-model="filter.value" name="model" class="form-control text-capitalize"
                id="model">
        </select>

        <div ng-hide="screenshot" ng-if="filter.type=='date'" class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="filter.value"
                   ng-change="change_filter()"
                   is-open="open_date_time_picker_sang" ng-required="true" close-text="Close"
                   alt-input-formats="altInputFormats"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_date_time_picker_sang = true"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>

        <div ng-hide="screenshot" ng-if="filter.type=='datetime'" class="input-group">

            <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="filter.value"
                   ng-change="change_filter()"
                   is-open="open_date_time_picker_sang" ng-required="true" close-text="Close"
                   alt-input-formats="altInputFormats"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_date_time_picker_sang = true"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
    </div>
</div>
