<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">

        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="site-title">
            <h2 class="text-left">{{ chart_settings.id ? 'EDIT CHART' : 'NEW CHART' }}</h2>

            <div class="text-right">
                <button ui-sref="dashboard({id:chart_settings.dashboard_id})">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Cancel
                </button>
                <button ng-click="save(0)">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button ng-click="save(1)">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    Save & Preview
                </button>
                <button ng-show="chart_settings.id" ng-click="delete()">
                    <span class="glyphicon glyphicon-trash" tooltip="Delete" aria-hidden="true"></span>
                    Delete
                </button>
            </div>
        </div>
        <div class="container-fluid new-chart">
            <form id="new_chart" role="form" class="row validate">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="chart-name">Chart name</label>

                        <p>Tittle show on chart</p>
                        <input type="text" class="form-control validate[required]"
                               id="chart-name" ng-model="chart_settings.name"
                               name="name">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Model</label>

                        <p>Choose a database model for the chart.</p>
                        <select tabindex="1" ng-change="model_change()"
                                ng-options="key as value.label for (key , value) in select_models"
                                ng-model="chart_settings.model" name="model" class="form-control text-capitalize"
                                id="model">
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Chart</label>

                        <p>Choose what chart/table type to use.</p>
                        <select tabindex="1" ng-change="model_change()"
                                ng-options="key as data.name for (key,data) in types"
                                ng-model="chart_settings.type" name="type" class="validate[required] form-control"
                                id="type"> </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Chart {{ chart_settings.type }} options</label>

                        <p>Select a chart type to display.</p>
                        <select tabindex="1"
                                ng-options="key as key for (key,data) in types[chart_settings.type]['options']"
                                ng-model="chart_settings.option" name="type" class="form-control text-capitalize"
                                id="type"></select>
                    </div>
                </div>
                <div ng-show="inArray(chart_settings.type,['pie','line','bar','area','column','group'])"
                     class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>3D options</label>

                        <p>Depth of block chart</p>
                        <select tabindex="1"
                                ng-options="key as key for key in depths"
                                ng-model="chart_settings.depth" name="depth" class="form-control text-capitalize"
                                id="type"></select>
                    </div>
                </div>
                <div ng-show="chart_settings.type == 'table'" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Limit item</label>

                        <p>Choose the maximum number of items to show.</p>
                        <select tabindex="1"
                                ng-options="limit_item as limit_item for limit_item in limit_items"
                                ng-model="chart_settings.limit" name="dashboard_id" class="form-control"
                                id="dashboard_id">
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Filter Position</label>

                        <p>Position of filter on chart view</p>
                        <select tabindex="1"
                                ng-options="filter_position as filter_position for filter_position in filter_positions"
                                ng-model="chart_settings.filter_position" name="dashboard_id" class="form-control">
                        </select>
                    </div>
                </div>
                <div ng-show="inArray(chart_settings.type,['line','area'])" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Inverted</label>

                        <p>Show chart Inverted</p>
                        <select tabindex="1"
                                ng-options="item as item for item in true_false"
                                ng-model="chart_settings.inverted" name="inverted" class="form-control"
                                id="dashboard_id">
                        </select>
                    </div>
                </div>
                <div ng-show="inArray(chart_settings.type,['pie','line','bar','area','column'])"
                     class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Full data/only validate data</label>

                        <p>Show all data of dim or only validate data</p>
                        <select tabindex="1"
                                ng-options="item as item for item in true_false"
                                ng-model="chart_settings.fulldim" name="fulldim" class="form-control"
                                id="fulldim">
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Dashboard</label>

                        <p>Choose which dashboard to show the chart on.</p>

                        <div class="error-validate-custom"
                             ng-show="validate.dashboard_id==1"
                             ng-click="remove_error('dashboard_id')"><p>Required</p></div>
                        <select tabindex="1"
                                ng-options="dashboard.id as dashboard.name for dashboard in dashboards"
                                ng-model="chart_settings.dashboard_id" name="dashboard_id" class="form-control"
                                id="dashboard_id">
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Reload time</label>

                        <p>Choose time chart will auto reload.</p>

                        <select tabindex="1"
                                ng-options="auto_reload_time.value as auto_reload_time.name for auto_reload_time in auto_reload_times"
                                ng-model="chart_settings.reload" name="reload" class="form-control"
                                id="reload">
                        </select>
                    </div>
                </div>

                <!--Report Field -->
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="model">Fields</label>

                        <p>Drag and drop any of these fields into the entries below.</p>
                        <ul class="drag-drop-list screen draggable-element-container" id="field_lists"
                            ui-sortable="draggableOptions" ng-model="select_models[chart_settings.model]['fields']">
                            <li ng-repeat="field in select_models[chart_settings.model]['fields'] track by $index">
                                <b>{{field.label}}</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Report Fields-->
                <div ng-show="chart_settings.type == 'table'" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Report Fields</label>

                        <p>Drop the fields to show in the table columns.</p>

                        <div class="error-validate-custom"
                             ng-show="validate.report_field_lists==1"
                             ng-click="remove_error('report_field_lists')"><p>Required</p></div>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            id="report_field_lists" ui-sortable="sortableOptions"
                            field_type="fields"
                            ng-model="chart_settings.config.fields">
                            <li ng-repeat="(index,field) in chart_settings.config.fields track by $index">
                                <b>{{field.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.fields[index],'fields')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.fields.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Filters Data-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Filter Data</label>

                        <p>Drop the fields you want to filter data.</p>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            id="report_filter_data_lists" ui-sortable="sortableOptions"
                            field_type="filter_data"
                            ng-model="chart_settings.config.filter_data">
                            <li ng-repeat="(index,filter) in chart_settings.config.filter_data track by $index">
                                <b>{{filter.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.filter_data[index],'filter_data')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.filter_data.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Filters-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Report Filter</label>

                        <p>Drop the fields you want to filter.</p>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            id="report_filter_lists" ui-sortable="sortableOptions"
                            field_type="filters"
                            ng-model="chart_settings.config.filters">
                            <li ng-repeat="(index,filter) in chart_settings.config.filters track by $index">
                                <b>{{filter.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.filters[index],'filters')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.filters.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--DimX-->
                <div ng-show="inArray(chart_settings.type,['pie','line','bar','area','column','group'])"
                     class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="model">Dim-X</label>

                        <p>Field to get data for x-axis</p>

                        <div class="error-validate-custom"
                             ng-show="validate.dimx_field_lists==1"
                             ng-click="remove_error('dimx_field_lists')"><p>Required</p></div>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            limit="{{ types[chart_settings.type]['limit']['dimx'] }}"
                            field_type="dimx"
                            restrict="dim"
                            id="dimx_field_lists" ui-sortable="sortableOptions"
                            ng-model="chart_settings.config.dimx">
                            <li ng-repeat="(index,dimx_item) in chart_settings.config.dimx track by $index">
                                <b>{{dimx_item.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.dimx[index],'dimx')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.dimx.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--DimY-->
                <div ng-show="inArray(chart_settings.type,['line','area','bar','column','group'])"
                     class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Dim-Y</label>

                        <p>Field to get data for y-axis</p>

                        <div class="error-validate-custom"
                             ng-show="validate.dimy_field_lists==1"
                             ng-click="remove_error('dimy_field_lists')"><p>Required</p></div>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            limit="{{ types[chart_settings.type]['limit']['dimy'] }}"
                            field_type="dimy"
                            restrict="dim"
                            id="dimy_field_lists" ui-sortable="sortableOptions"
                            ng-model="chart_settings.config.dimy">
                            <li ng-repeat="(index,dimy_item) in chart_settings.config.dimy track by $index">
                                <b>{{dimy_item.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.dimy[index],'dimy')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.dimy.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fact-->
                <div ng-show="inArray(chart_settings.type,['pie','line','area','bar','column','group'])"
                     class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Fact</label>

                        <p>Field to get data for chart</p>

                        <div class="error-validate-custom"
                             ng-show="validate.fact_field_lists==1"
                             ng-click="remove_error('fact_field_lists')"><p>Required</p></div>
                        <ul class="drag-drop-list apps-container screen connected-drop-target-sortable"
                            limit="{{ types[chart_settings.type]['limit']['fact'] }}"
                            restrict="fact"
                            field_type="fact"
                            id="fact_field_lists" ui-sortable="sortableOptions"
                            ng-model="chart_settings.config.fact">
                            <li ng-repeat="(index,fact_item) in chart_settings.config.fact track by $index">
                                <b>{{fact_item.label}}</b>
                                <a ng-click="edit_field(chart_settings.config.fact[index],'fact')"
                                   class="glyphicon glyphicon-pencil" tooltip="Edit"></a>&nbsp&nbsp<a
                                    ng-click="chart_settings.config.fact.splice(index, 1)"
                                    class="glyphicon glyphicon-trash" tooltip="Delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix">
            <div ng-controller="ReportCtrl" class="report scroll-vertical">
                <ng-include src="get_template_chart(chart_settings.type || 'table')"></ng-include>
            </div>
        </div>
    </snap-content>
</div>
