<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="site-title">
            <h2 class="text-left">VIEW CHART</h2>

            <h2 class="text-right">
                <button ui-sref="dashboard({id:default_dashboard_id})">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back
                </button>
                <button ui-sref="editchart({id: chart_id})">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </button>
            </h2>
        </div>
        <div class="container-fluid">
            <div class="report" id="Report{{ _id }}" ng-controller="ReportCtrl">
                <ng-include src="get_template_chart(_type)" onload="set_chart_id(_id)"></ng-include>
            </div>
        </div>
    </snap-content>
</div>
