.dashboard-page {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: @brand-primary;
  color: #000;

  /*
   * Base structure
   */

  /*
   * Global add-ons
   */

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }

  h2 {
    font-weight: 300;
    small {
      color: #333;
    }
  }

  /*
   * Main content
   */

  .main {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    .jumbotron {
      background: inherit;
      margin-top: 20px;
    }
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }

  /*
   * Placeholder dashboard ideas
   */

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }

  .bg-fade {
    font-size: 500px;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: -100px;
    top: 180px;
  }

  .jumbotron {
    background: @brand-primary;
  }
  .fr {
    padding-left: 60px;
  }

}

.btn-white {
  border-color: white;
  border-radius: 0 !important;
  border: 3px solid;
  background: none;
  &:hover, &:focus {
    border-color: white;
    color: #797979;
    background: white;
  }
}

.iframe-container {
  padding: 0;
}

.snap-content-iframe {
  overflow-y: scroll;
  overflow-x: hidden;;
}

snap-content {
  background: #fff;
  a {
    color: #000;
    &:hover, &:active, &:focus {
      color: #000;
    }
  }
  .menutoggle {
    .fa {
      position: absolute;
      left: 15px;
      top: 25px;
    }
  }
}

snap-drawer {
  background: #fafafa;
  a {
    color: #000;
    &:hover, &:active, &:focus {
      color: #000;
    }
  }
  .sidebar-header {
    margin-top: 40px;
    .sidebar-img {
      width: 140px;
      height: 140px;
      border: 3px solid white;
    }
  }
  ul.snap-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    li.active {
      background: @brand-primary;
    }
    li {
      display: inline-block;
      width: 100%;
      padding: 11px;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 1px;
      &:hover {
        background: @brand-primary;
      }
      .menu-link{
        width: 180px;
      }
      a {
        text-align: left;
        display: block;
        &:hover {
          text-decoration: none;

        }
      }
    }
  }
}

* {
  a:hover {
    cursor: pointer;
  }
}

.dashboard-item {
  color: #000;
  li {
    border: 1px solid #DADADA;
    border-radius: 0;
  }
}

.site-title {
  margin-top: 22px;
  height: 60px;

  .text-right {
    float: right;
    margin: 0px 20px 0px 0px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    button {
      border: 0px solid #fff;
      background: #fff;
      .glyphicon {
        color: #1ABC9C;
      }

      font-weight: normal;
      font-size: 14px;
    }
  }
  h2.text-left {
    float: left;
    margin: 0px 0px 0px 70px;
    line-height: 35px;
    font-size: 15px;
  }
}

.company-name {
  font-size: large;
  a {
    font-size: large;
    color: #E8E31D;
  }
}

.item {
  padding: 15px;
  float: left;
  width: 100%;
  margin: 5px 0px;
  cursor: pointer;
  background: #F2F2F2;
}

.report {
  float: left;
  width: 100%;
  height: 100%;
  //overflow-y: scroll;
  .chart-preview {
    width: 100%;

  }
}

.scroll-vertical {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-vertical::-webkit-scrollbar {
  width: 9px;
  height: 5px;
}

.scroll-vertical::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

.scroll-vertical::-webkit-scrollbar-thumb {
  //outline: 1px solid slategrey;
}

.scroll-vertical:hover::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 5px;
}

.padding-top-30 {
  padding-top: 30px;
}

.active {
  background: aquamarine !important;
}

.menu-button{
  margin-right: 10px;
}
