.new-chart {
  .form-control {
    height: 35px;
    text-transform: capitalize;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background: #F6F6F6;
    font-size: 14px;
    line-height: 1.42857143;
    color: #474747;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  }
  .error-validate-custom {
    position: absolute;
    right: 34px;
    bottom: 20px;
    p {
      color: #ee0101;
      font-size: 14px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

#edit_field_form{
  .error-validate-custom {
    position: absolute;
    right: 34px;
    bottom: -3px;
    p {
      color: #ee0101;
      font-size: 14px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

option {
  text-transform: capitalize;
}

.text-capitalize {
  text-transform: capitalize;
}

.drag-drop-list {
  list-style: none;
  min-height: 42px;
  background: #F6F6F6;
  border: 1px solid #CACACA;
  padding: 2px;
  li {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    background: #F6F6F6;
    text-transform: capitalize;
    border: 1px solid #ccc;
    margin: 3px;
    padding: 4px 7px;
    border-radius: 0px;
    color: #121212;
    cursor: move;
    a {
      color: #000000;
    }
  }
}

.sortable-ghost {
  opacity: .6;
}

.modal-content {
  color: #6C7A7A;
}
