.gridster-desktop {
  .left {
    .item-filter {
      display: block;
      width: 100%;
      .form-group {
        width: 100%;
        .form-control {
          width: 100%;
        }
      }

    }
  }
  .right {
    .item-filter {
      display: block;
      width: 100%;
      .form-group {
        width: 100%;
        .form-control {
          width: 100%;
        }
      }
    }
  }
}

.gridster-mobile {
  .gridster-item {
    display: flex;
  }
}

.empty-field {
  display: block;
  margin: 150px auto;
  font-size: 13px;
}

.chart-content {

}

.chart-preview {
  color: #616161;
  font-size: 13px;
  background: #ffffff;
  padding: 10px;
  min-height: 100px;
  float: left;
  width: 100%;
  label {
    font-size: 13px;
  }
  .input-group {
    display: inline-block;
    float: left;
    .form-control {
      width: auto;
      input {
        width: auto;
      }
    }
    .input-group-btn {
      float: left;
    }
  }
  .data-table {
    .table {
      padding-bottom: 5px;
      margin-bottom: 10px;
      border: 1px solid #c7c7c7;
    }
    thead {
      background: #F4F4F4;
      border: 0px;
      a {
        color: #111;
        text-transform: capitalize;
      }
      span {
        float: right;
      }
      td {

      }
    }
    tbody {
      tr {
        td {
          padding: 1px 5px;

        }
      }
    }
    tfoot {
      background: rgba(244, 244, 244, 0.43);
      td {
        padding: 2px 5px;
      }
    }
    .pager-text {
      line-height: 20px;
    }
    .paging {
      color: #1abc9c;
      font-size: 15px;
      border: 1px solid;
      padding: 3px;
      text-align: center;
      margin-left: 5px;
    }
    .disable {
      color: #ABB7B7;
    }
  }
  .form-group {
    margin-right: 5px;
    label {
      text-transform: capitalize;
      font-size: 13px;
      float: left;
      width: 100%;
    }
    .form-control {
      padding: 0px;
      height: 25px;
    }
  }

  .empty-field {
    text-align: center;
  }
  .chart-name {
    padding: 0px;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    h3 {
      padding: 0px;
      margin: 0px;
      font-size: 18px;
      line-height: 20px;
      float: left;
      font-weight: 500;
      color: rgba(10, 10, 10, 0.98);
    }
    .view {
      color: #1ABC9C;
      float: right;
      cursor: pointer;
      margin-right: 10px;
      z-index: 999999;
      margin-right: 10px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: #336b80;
      }
    }
    .edit {
      color: #33802d;
      float: right;
      cursor: pointer;
      margin-right: 10px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: #336b80;
      }
    }
    .delete {
      color: #ff0e28;
      float: right;
      cursor: pointer;
      top: 5px;
      right: 5px;
      z-index: 999999;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: #80090b;
      }
    }

  }
  .filter-wrapper {
    display: inline-block;
    //text-align: center;
    .item-filter {
      display: inline-block;
      float: left;
      .filter-text {
        margin-right: 20px;
      }
      .form-control {
        display: inline-block;
        height: 25px;
        text-transform: capitalize;
        display: block;
        width: 95%;
        height: 25px;
        padding: 0px;
        background: #F6F6F6;
        font-size: 14px;
        line-height: 1.42857143;
        color: #474747;
        border: 1px solid #ccc;
        border-radius: 0px;
        box-shadow: 0;
        transition: none;
      }
      .input-group-btn {
        button {
          padding: 5px;
          font-size: 21px;
          height: 25px;
          color: #1abc9c;
        }
        i {
          top: -5px;
        }
      }
      .time-picker-menu {
        width: 280px;
        height: 221px;
        padding-top: 68px !important;
      }
      .date-picker-menu {
        width: 280px;
        height: 221px;
      }
    }
  }

  .table-group {
    border: none;
    margin-top: -24px;
    td {
      padding: 1px 5px;
    }
    .row-name {
      td {
        border-top: none;
        padding-top: 20px;
        padding-left: 0;
      }
    }
    .row-head {
      font-weight: bold;
      background: #F4F4F4;
      border: 1px solid #DCDCDC;
      height: 30px;
      span {
        float: right;
      }
      td {
        padding: 5px;
      }
    }
    .row-data {
      border: 1px solid #DCDCDC;
    }
    .row-foot {
      background: #F4F4F4;
      border: 1px solid #DCDCDC;
      border-bottom: 2px solid #DCDCDC;
    }
  }
}

#ChartHigh {
  float: left;
  width: 100%;
  .highcharts-container {
    float: left;
    width: 100%;
    svg {
      float: left;
      width: 100%;
    }
  }
}

.datetime-picker-dropdown {
  z-index: 9999;
  li {
    border: none !important;
  }
}

#printImage {
  position: fixed;
  //position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 20px !important;
  //z-index: 300;
  .chart-preview {
    label {
      font-size: 20px !important;
    }
    input {
      font-size: 20px !important;

    }
    select {
      font-size: 20px !important;
    }
    font-size: 20px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}
