/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
/*.well[ui-view]{
 height: 65px;
}*/

[ui-view] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-leave {

}

[ui-view].ng-enter {

}

@-webkit-keyframes fadeIn {
  from {
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
