<div class="modal-header">
    <h3 class="modal-title">Add Dashboad</h3>
</div>

<div class="modal-body row">
    <div class="form-group col-xs-12">
        <label for="order">Dashboad name:</label>

        <p>Please input name of new dashboard.</p>
        <input type="text" class="form-control validate[required]" ng-model="dashboad_name"
               name="dashboad_name">
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btn_ok()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="btn_cancel()">Cancel</button>
</div>
