<div class="modal-header">
    <h3 class="modal-title">Copy Dashboad</h3>
</div>

<div class="modal-body row">
    <div class="form-group col-xs-12">
        <label for="order">Clone from dashboad:</label>
        <p>Please choose dashboad to clone to this dashboad.</p>
        <select tabindex="1"
                ng-options="dashboard.id as dashboard.name for dashboard in list_dashboards"
                ng-model="choosen_dashboard_id" name="dashboard_id" class="form-control"
                id="dashboard_id">
        </select>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btn_ok()">Copy</button>
    <button class="btn btn-warning" type="button" ng-click="btn_cancel()">Cancel</button>
</div>
