<div class="modal-header">
    <h3 class="modal-title">Edit field</h3>
</div>
<div class="modal-body row">
    <form id="edit_field_form" class="validate" onload="validation()">
        <div class="form-group col-md-12">
            <p>Field name: {{field_data.name}}</p>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label>Label:</label>
            <input type="text" class="form-control" id="field-data-name" ng-model="field_data.label"
                   name="field-data-name">
        </div>

        <div ng-if="inArray(field_type,['fact'])" class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="operator">Show field as:</label>
            <select tabindex="1"
                    ng-options="operator.value as operator.name for operator in operators[field_data.type]"
                    ng-model="field_data.operator" name="operator" class="form-control"
                    id="operator">
            </select>
        </div>

        <div ng-if="inArray(field_type,['fields','dimx','dimy','fact'])" class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="order">Order:</label>
            <select tabindex="1"
                    ng-options="order.value as order.name for order in orders"
                    ng-model="field_data.order" name="order" class="form-control"
                    id="order">
            </select>
        </div>

        <div ng-if="inArray(field_type,['filters','filter_data'])" class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="order">Condition:</label>
            <select tabindex="1"
                    ng-options="condition.value as condition.name for condition in conditions[field_data.type]"
                    ng-model="field_data.condition" name="order" class="form-control"
                    id="order">
            </select>
        </div>

        <div ng-if="inArray(field_type,['filter_data'])" class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="order">Value:</label>
            <select ng-if="field_data.filter_option" tabindex="1"
                    ng-options="filter_value as filter_value for filter_value in filter_values"
                    ng-model="field_data.filter_value" name="order" class="form-control"
                    id="order">
                <option value=''>ALL</option>
            </select>
            <div class="error-validate-custom"
                 ng-show="filter_data_validation"
                 ng-click="remove_error_message('filter_data_validation')"><p>{{filter_data_validation_str}}</p></div>
            <input ng-if="!field_data.filter_option && field_data.type!='datetime'" type="text"
                   ng-change="remove_error_message('filter_data_validation')"
                   class="form-control validate[required]"
                   id="field-data-name"
                   ng-model="field_data.filter_value"
                   name="field-data-name">

            <div ng-if="field_data.type=='datetime'" class="input-group">
                <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm"
                       ng-model="field_data.filter_value"
                       is-open="open_date_time_picker_sang" ng-required="true" close-text="Close"
                       alt-input-formats="altInputFormats"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_date_time_picker_sang = true"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>

        </div>

        <div ng-if="field_data.unit && units[field_data.unit] && !inArray(field_type,['filter_data','filters'])"
             class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="order">Unit:</label>
            <select tabindex="1"
                    ng-options="key as value.label for (key,value) in units[field_data.unit]"
                    ng-model="field_data.unit_option" name="order" class="form-control"
                    id="order">
            </select>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="btn_ok()">Save</button>
    <button class="btn btn-warning" ng-click="btn_cancel()">Cancel</button>
</div>
