<h1><code ng:non-bindable="">MainCtrl</code>
<div><span class="hint">function in module <code ng:non-bindable="">yapp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yapp-controller-page yapp-controller-mainctrl-page"><h3 id="mainctrl" id="description_mainctrl">MainCtrl</h3>
<p>Controller of yapp</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">MainCtrl();</pre>
</div>
</div>
